<h1>Empresa: <%= @empresa.nome_empresarial%> <%= @empresa.nome_fantasia %></h1>
<ul>
    <li>CNPJ: <%= @empresa.cnpj %></li>
    <li>CNAE: <%= @empresa.cnae %></li>
    <li>Atividade Principal: <%= @empresa.atividade_principal %></li>
    <li>Email: <%= @empresa.email %></li>
    <li>
        Endereço: 
        <%= @empresa.nome_logradouro %>, 
        <%= @empresa.numero_logradouro %> - 
        <%= @empresa.bairro %>. 
        CEP: <%= @empresa.cep %>.
        <%= @empresa.cidade %> - <%= @empresa.uf %>.
        Complemento: <%= @empresa.complemento %>
    </li>
</ul>

<%= link_to 'Editar Empresa', edit_empresa_path(@empresa) %> | 
<%= link_to 'Home', root_path %>